// Most liked
.most-liked-container {
    transition: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}
.most-liked {
    padding: 120px 0;
    width: 1500px;
    margin: 0 auto;

    h1 {
        margin-left: 15px;
        margin-bottom: 60px;
        position: relative;
    }
}
.underlined {
    position: relative;
    &::after {
        content: '';
        background-color: var(--primary-text);
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -5px;
        left: 0;
        border-radius: var(--border-radius);
    }
}
.most-liked-overflow {
    overflow: hidden;
}

// SmallPlayer
.small-player {
    margin: 0 15px;
    background-color: var(--mini-player-background);
    border-radius: var(--border-radius);
    padding: 30px;
    font-weight: 700;
    width: 260px;
    opacity: .7;
    transition: transform, margin, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    user-select: none;
    
    img {
        border-radius: var(--border-radius);
        width: 200px;
    }
    .song-title {
        font-size: 17px;
        margin-bottom: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .song-artist {
        font-size: 14px;
        color: var(--text-muted);
    }
    svg {
        width: 18px;
    }

    &.active {
        transform: scale(1.25);
        margin: 0 40px;
        opacity: 1;
    }
}
.player-track {
    margin-top: 10px;

    .track-container {
        position: relative;
        height: 16px;
        padding: 2px 0;
        display: flex;
        align-items: center;
    }
    .track {
        width: 100%;
        height: 4px;
        border-radius: var(--border-radius);
        position: absolute;
        background-color: var(--track-non-filled);
        
        &.filled {
            background-color: var(--player-icon-color);
            z-index: 14;
        }
    }
    .filled-dot {
        width: 14px;
        height: 14px;
        background-color: var(--player-icon-color);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 15;
        display: none;
        border: 2px solid var(--mini-player-background);
    }
    span {
        font-size: 13px;
        color: var(--text-muted);
    }
    &:hover {
        .filled-dot {
            display: block;
        }
    }
}
.player-buttons {
    margin-top: 25px;

    &>svg {
        width: 15px;
    }
    &>* {
        margin: 0 10px;
    }
    &>:last-child {
        margin-right: 0;
    }
    &>:first-child {
        margin-left: 0;
    }
}

// All tops
.all-tops {
    background-color: var(--secondary-background);
    padding: 40px 0;
}
.tops-container {
    width: calc(1500px - 15px);
    margin: 0 auto;
}
.track {
    padding: 10px;
    background-color: var(--mini-player-background);
    border-radius: var(--border-radius);
    margin-bottom: 6px;

    img {
        width: 35px;
        border-radius: calc(var(--border-radius) / 2);
        margin-right: 15px;
    }
    .highlight {
        margin-left: 5px;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
.track-index {
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    margin-left: 5px;
}
.artist {
    &:not(:last-child) {
        margin-right: 8px;

        &::after {
            content: ', ';
            position: absolute;
        }
    }
}
.highlight {
    font-weight: 600;
}