.home {
    animation: var(--initial-animation);
}
// Most liked
.most-liked-container {
    transition: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}
.most-liked {
    padding: 120px 0;
    width: 1500px;
    max-width: 90%;
    margin: 0 auto;

    h1 {
        margin-left: 15px;
        margin-bottom: 60px;
        position: relative;
    }
}
.underlined {
    position: relative;
    &::after {
        content: '';
        background-color: var(--primary-text);
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -5px;
        left: 0;
        border-radius: var(--border-radius);
    }
}
.most-liked-overflow {
    overflow: hidden;
}

// SmallPlayer
.small-player {
    margin: 0 15px;
    background-color: var(--mini-player-background);
    border-radius: var(--border-radius);
    padding: 30px;
    font-weight: 700;
    width: 260px;
    opacity: .7;
    transition: transform, margin, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    user-select: none;
    
    img {
        border-radius: var(--border-radius);
        width: 200px;
    }
    .song-title {
        font-size: 17px;
        margin-bottom: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
    .song-artist {
        font-size: 14px;
        color: var(--text-muted);
    }
    svg {
        width: 18px;
    }

    a:hover {
        text-decoration: underline;
    }
    &.active {
        transform: scale(1.25);
        margin: 0 40px;
        opacity: 1;
    }
}
.player-track {
    margin-top: 10px;

    .track-container {
        position: relative;
        height: 16px;
        padding: 2px 0;
        display: flex;
        align-items: center;
    }
    .mini-player-track {
        width: 100%;
        height: 4px;
        border-radius: var(--border-radius);
        position: absolute;
        background-color: var(--track-non-filled);
        
        &.filled {
            background-color: var(--player-icon-color);
            z-index: 14;
        }
    }
    .filled-dot {
        width: 14px;
        height: 14px;
        background-color: var(--player-icon-color);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 15;
        display: none;
        border: 2px solid var(--mini-player-background);
    }
    span {
        font-size: 13px;
        color: var(--text-muted);
    }
    &:hover {
        .filled-dot {
            display: block;
        }
    }
}
.player-buttons {
    margin-top: 25px;

    &>svg {
        width: 15px;
    }
    &>* {
        margin: 0 10px;
    }
    &>:last-child {
        margin-right: 0;
    }
    &>:first-child {
        margin-left: 0;
    }
}

// All tops
.all-tops {
    background-color: var(--secondary-background);
    padding: 40px 0;
}
.tops-container {
    width: calc(1500px - 15px);
    max-width: 90%;
    margin: 0 auto;
}
.track, .album {
    padding: 10px;
    background-color: var(--mini-player-background);
    border-radius: var(--border-radius);
    margin-bottom: 6px;

    img {
        width: 35px;
        border-radius: calc(var(--border-radius) / 2);
        margin-right: 15px;
    }
    .highlight {
        margin-left: 5px;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
.track-index {
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    margin-left: 5px;
}
.artist {
    &:not(:last-child) {
        margin-right: 8px;

        &::after {
            content: ', ';
            position: absolute;
        }
    }
}
.highlight {
    font-weight: 600;
}

// Artist Search
.artist-search {
    padding: 70px 0;
    max-width: 90%;
    margin: 0 auto;

    h1 {
        font-size: 45px;
    }
    .input {
        width: 100%;
        max-width: 100%;
        
        input {
            font-size: 20px;
            padding: 15px 20px !important;
        }
        .input-examples {
            font-size: 20px;
        }
    }
    .search-main {
        max-width: 78%;
    }
    .artist-name {
        font-size: 20px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;    
    }
    .search {
        position: relative;
        width: 520px;
        max-width: 100%;
    }
}
.search-results {
    width: 100%;
    margin-top: 10px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-background);
    max-height: 330px;
    overflow: auto;
    position: absolute;
    z-index: 13;
}
.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: var(--scroll-background);
    border-radius: var(--border-radius);
}
.scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--scroll-thumb-background);
    border: solid 3px transparent;
    border-radius: var(--border-radius);
}
.search-result {
    padding: 10px;
    border-radius: var(--border-radius);

    .search-extras {
        font-size: 14px;
        color: var(--text-muted);
        font-weight: 600;
    }
    img {
        width: 60px;
        height: 60px;
        border-radius: calc(var(--border-radius) / 2);
        margin-right: 10px;
    }
    &:hover {
        background-color: var(--input-background);
    }
}
.waiting-for-artist {
    margin-top: 30px;
    color: var(--text-muted);
    font-weight: 600;

    .loading {
        margin-top: 15px;
    }
}
.artist-stats {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 90px 0;

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
.artist-info {
    img {
        width: 180px;
        border-radius: var(--border-radius);
    }
    .artist-text {
        margin-left: 20px;
    }
    .name {
        margin: 0;
        font-size: 30px;
    }
    .followers {
        font-weight: 600;
        color: var(--text-muted);
        font-size: 18px;
        margin-top: 6px;
    }
    .genres {
        margin-top: 5px;
        display: block;
        color: var(--text-muted);
        font-weight: 600;
        font-size: 15px;
    }
}
.related-artists {
    .header {
        color: var(--text-muted);
        font-size: 17px;
        margin-bottom: 12px;
    }
    img {
        min-width: 100px;
        width: 100px;
        height: 100px;
    }
    .artist-text {
        margin-left: 10px;
    }
    .name {
        font-size: 18px;
    }
    .followers {
        font-size: 14px;
    }
    .genres {
        font-size: 13px;
    }
}

.loading-artist-stats {
    margin-top: 90px;
    width: 1200px;
    max-width: 90%;
}
.loading-img {
    width: 180px;
    height: 180px;
    border-radius: var(--border-radius);
    margin-right: 25px;
}
.loading-username {
    width: 250px;
    height: 40px;
    border-radius: 120px;
    margin-bottom: 13px;
}
.loading-text {
    width: 100px;
    height: 24px;
    border-radius: 120px;
    margin-bottom: 6px;
}
.loading-bg {
    background-color: var(--input-background);
}
.loading-info:not(:last-child) {
    margin-right: 25px;
}
.small {
    .loading-img {
        width: 100px;
        height: 100px;
    }
    .loading-username {
        height: 24px;
        width: 140px;
    }
    .loading-text {
        height: 19px;
        width: 100px;
    }
}
.loading-box {
    width: 49%;
    margin-top: 25px;
    height: 360px;
    border-radius: var(--border-radius);
}

.artist-extras {
    margin-top: 25px;
}
.box-title {
    font-weight: 600;
    color: var(--text-muted);
    padding-bottom: 15px;
}
.artist-box {
    background-color: var(--secondary-background);
    padding: 20px 25px 25px 25px;
    width: 49%;
    border-radius: var(--border-radius);

    .track>span {
        display: none;
    }
}
.box-content {
    max-height: 300px;
    overflow: auto;
}