.dropdown {
    font-weight: 500;
    color: var(--text-muted);
}
.dropdown-items {
    position: absolute;
    transform: translateY(10px);
    border-radius: calc(var(--border-radius) / 2);
    overflow: hidden;
    z-index: 15;
}
.dropdown-item {
    padding: 8px 12px;
    background-color: var(--dropdown-background);
    
    &.active, &:hover {
        background-color: var(--active-dropdown-background);
    }
    &.active-item {
        border-radius: calc(var(--border-radius) / 2);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:after {
            border: 5px solid transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
            border-top-color: var(--text-muted);
            content: '';
            margin-left: 10px;
            transform: translateY(4px);
        }
    }
}