.search {
    position: relative;
    width: 520px;
    max-width: 100%;

    .input {
        width: 100%;
        max-width: 100%;
        
        input {
            font-size: 20px;
            padding: 15px 20px !important;
        }
        .input-examples {
            font-size: 20px;
        }
    }
}
.search-results {
    width: 100%;
    margin-top: 10px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-background);
    max-height: 330px;
    overflow: auto;
    position: absolute;
    z-index: 13;
}
.search-result {
    padding: 10px;
    border-radius: var(--border-radius);

    .search-extras {
        font-size: 14px;
        color: var(--text-muted);
        font-weight: 600;
    }
    img {
        width: 60px;
        height: 60px;
        // border-radius: calc(var(--border-radius) / 2);
        margin-right: 10px;
    }
    &:hover {
        background-color: var(--input-background);
    }
}

@media only screen and (max-width: 450px) {
    .search-result {
        flex-direction: column;
        align-items: unset !important;

        .search-extras {
            margin-top: 10px;
        }
    }
}