.track-info {
    img {
        width: 180px;
        // border-radius: var(--border-radius);
    }
    .track-text {
        margin-left: 20px;
    }
    .name {
        margin: 0;
        font-size: 30px;
    }
}